body{
	margin: 0 ;
	background: white ;
	font-family: areal, "times new romans" ;
}
a {
	text-decoration: none;
	color: black;
}
#regis>div{
	display:inline-block; 
	text-align: center;
	width: 45% ;
	padding: 10px 0px 0px 0px ;
	font-size: 20px ;
	color: white ;
}
#regis{
 background:rgba(12,71,109,1);

}
.register a{
	padding: 2%;
	color: white;
	font-size: 15px;
}
.register h3{
	color: orange;
	margin:  5px 5px 20px 0px;
	font-size: 20px;
}
.log{
	text-align: left;
	margin-left: 49%;
	font-size: 25px;
	font-style: italic;
}
#enregistrer>div{
	text-align: center;
}
#enregistrer{
   background: linear-gradient(to right,#68948f 40%,#f5f1d1);
   padding: 5px 0px 10px 0px 

   }
.enregistrer_h h2 ,h3{
	color: white ;
	font-size: 15px ;
}
#register_infos{
	text-align: center;
}
#register_infos>div{
	display: inline-block;e
	width: 45% ;
}
#infos_1{
	text-align: left;
	margin-right: 30px;
	/*margin: 25px 0px 0px 0px ;
	padding: 25px ;*/

}
/*#infos_1 ul{
	margin: 10px 2px 5px 0px ;
}*/
#infos_2{
	text-align: left;
}